//
//  Staging.xcconfig
//  BudgetApp
//
//  Created by Shawn Yu on 2025-11-17.
//
// Used for on device testing

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
API_URL = https:/$()/budget-tool-dev.fly.dev

