/* TODO: make this look prettier */
.settings-form {
   display: inline-block;
   margin: 5px 0;
}

.settings-form label {
   margin-right: 10px;
}

.inline-flex-container {
   display: inline-flex;
   align-items: center;
   /* Aligns items vertically */
   gap: 8px;
   /* Adds spacing between items */
}
